{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Pick Up Turn | Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
<p>Welcome, You are logged in as <b>{{ user.username }}</b></p>

<h2>
  Sekarang Giliran:
</h2>
<div>
  <p class="text-uppercase fs-6">
    {{current_turn}}
  </p>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ambil Makanan
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form action="/collections/" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Pengambilan</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row g-3 align-items-center">
            <div class="col-4">
              <label for="input-username" class="col-form-label fs-6">Pengambil</label>
            </div>
            <div class="col-8">
              <input type="text" name="collector" value="{{ user.username}}" class="form-control" id="input-username"
                required disabled>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-4">
              <label for="input-text" class="col-form-label fs-6">Nama Restoran</label>
            </div>
            <div class="col-8">
              {{form.collected_item}}
            </div>
          </div>
          {% csrf_token %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
          <button type="submit" class="btn btn-primary">Ambil</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div>
  Skor Pengambilan:
  <ul>
    <li>Salman: {{collection_data.salman}}
    <li>Farid: {{collection_data.farid}}
    <li>Faizah: {{collection_data.faizah}} 
  </ul>
</div>
{% else %}
<div class="row">
  <div class="col-8 offset-2"> <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline"
      href="{% provider_login_url 'google' %}"><img src="https://img.icons8.com/color/16/000000/google-logo.png">
      Login With Google</a> </div>
</div>
{% endif %}
{% endblock %}
