{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Pick Up Turn | Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

{% if messages %}
  {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success"" role="alert">
      {{message}}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}

<br><br><br>
<p>Welcome, You are logged in as <b>{{request.user.get_short_name}}</b></p>

<h2 style="text-align: center; font-weight: bold;">
  Sekarang Giliran:
</h2>
<div>
  <p class="text-uppercase fs-6 shape-giliran">
    <span style="font-size: 55px; color: #5B415A; font-weight: bold;">{{current_turn}}</span>
  </p>
</div>
<br>

<!-- Button trigger modal -->
<div style="text-align: center;">
  <button type="button" class="btn btn-primary button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border-radius: 10px; font-weight: 600; width: 13%;">
    Ambil Makanan
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form action="/collections/" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Konfirmasi Pengambilan</h5>
          <button type="button" class="close" data-bs-dismiss="modal" style="background-color: white; border-style: hidden;" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row g-3 align-items-center">
            <div class="col-4">
              <label for="input-username" class="col-form-label fs-6">Pengambil</label>
            </div>
            <div class="col-8">
              <input type="text" name="collector" value="{{ user.username}}" class="form-control" id="input-username"
                required disabled>
            </div>
          </div>
          <div class="row g-3 align-items-center">
            <div class="col-4">
              <label for="input-text" class="col-form-label fs-6">Nama Restoran</label>
            </div>
            <div class="col-8">
              {{form.collected_item}}
            </div>
          </div>
          {% csrf_token %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary button" data-bs-dismiss="modal" style="background: black;">Batal</button>
          <button type="submit" class="btn btn-primary button">Ambil</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br>


<div style="text-align: center;">
  <h4>Skor Pengambilan:</h4>
  <ul>
    <span class="shape-score">
      Salman: {{collection_data.salman}}<br>
      Farid: {{collection_data.farid}}<br>
      Faizah: {{collection_data.faizah}}
    </span>
  </ul>
</div>
{% else %}
<br><br><br><br><br>
<div class="row parent">
  <div class="col-8 offset-2 child"> 
    <a href="/"><img src="static/img/pickupturn-big-logo.png"></a>
    <br><br>
    <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline"
      href="{% provider_login_url 'google' %}"><img src="https://img.icons8.com/color/16/000000/google-logo.png">
      Login With Google</a> 
  </div>
</div>
{% endif %}
{% endblock %}
